/* Colors */

$white: #fff;
$title: #27273d;
$text: #6e727a;
$orange: #ff6b00;
$violet: #8162ff;
$color-hover: #8f8f8f;

/* Fonts */
$Roboto: "Roboto", sans-serif;

$Bold: 700;
$Medium: 500;
$Regular: 400;

/*Font Size*/
$h1: 40px;
$h2: 36px;
$h3: 20px;
$h4: 18px;
$h5: 16px;
$text-size: 16px;
