/* Colors */

$white: #fff;
$title: #27273D;
$text: #6E727A;
$orange: #FF6B00;
$violet: #8162FF;


/* Fonts */
$Roboto: 'Roboto', sans-serif;

$Bold: 700;
$Medium: 500;
$Regular: 400;

/*Font Size*/
$h2: 36px;
$h4: 18px;
$text:16px;