.main_wrapper {
  background: #27273d;
  position: relative;
  padding: 50px 0 157px 0;
  min-height: 1250px;

  &::before {
    display: block;
    content: "";
    background-image: url("../img/categories-bi.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.categories-top_casinos {
  background-color: #fff;

  & .top-games {
    padding: 30px;

    & .top-games_box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 28px;
      border-bottom: 1px solid #e8e9eb;

      & h3 {
        font-family: $Roboto;
        font-weight: $Bold;
        font-size: $h3;
        color: #6b6b7a;
      }

      & .pagination-casino {
        & ul {
          display: flex;
          align-items: center;
        }
      }
    }

    & .games-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      & .games-item {
        flex: 0 0 21%;
        border-bottom: 1px solid #e8e9eb;

        &:nth-last-child(-n + 4) {
          border-bottom: 0;
        }

        & h5 {
          color: $title;
        }
      }
    }
  }
}

.catigories-tab {
  & .tabs {
    padding: 0;
    border: 0;

    & .nav {
      border: 0;
      padding: 38px 0;
      background-color: #fff;
    }
  }
}
