main {
  background-color: #fff;
}

.main-header {
  background-color: #27273d;
  margin-bottom: 85px;
}

.main-header_box {
  display: flex;
  flex-wrap: wrap;
  font-family: $Roboto;
  font-weight: $Regular;
  font-size: $text-size;
  color: $text-white;
  padding-bottom: 43px;
  overflow: hidden;

  & .home-gallery {
    width: 77%;
    padding: 37px 15px 0 0;
    position: relative;

    & .home-header_carousel {
      margin-bottom: 20px;

      & h3 {
        font-weight: $Medium;
        font-size: $h3;
        text-transform: capitalize;
        margin-bottom: 10px;
      }

      & .carousel-1 {
        width: 1000px;
      }
    }

    & .home-header_form {
      margin-bottom: 25px;

      & h3 {
        font-weight: $Medium;
        font-size: $h3;
        text-transform: capitalize;
        margin-bottom: 8px;
      }

      & .subscription {
        margin-bottom: 10px;
      }

      & p {
        font-size: 13px;
      }
    }

    & .gallery-casino_box {
      display: flex;
      justify-content: space-between;

      & .gallery-casino_item {
        flex: 0 0 60%;
        position: relative;

        & .gallery-casino_img img {
          display: block;
          width: 100%;
          height: auto;
        }

        & .gallery-casino_info {
          position: absolute;
          left: 20px;
          right: 20px;
          bottom: 20px;

          & p {
            width: 70%;
          }
        }
      }

      & .gallery-casino_item2 {
        flex: 0 0 37%;

        & .gallery-elem {
          position: relative;

          & .gallery-elem_img {
            position: relative;

            &::before {
              display: block;
              content: "";
              position: absolute;
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
              background: rgba(142, 53, 197, 0.56);
            }

            & img {
              display: block;
              width: 100%;
              height: auto;
            }
          }

          & .gallery-elem_info {
            position: absolute;
            left: 20px;
            bottom: 50%;
            transform: translateY(50%);

            & p {
              width: 60%;
            }
          }
        }

        & .gallery-elem_box {
          display: flex;
          justify-content: space-between;
          margin-top: 17px;

          & .gallery-elem {
            flex: 0 0 47%;

            & .gallery-elem_img {
              & img {
                display: block;
                width: 100%;
                height: 120px; // sorry!!!!!!
              }
            }

            & .gallery-elem_info {
              left: 20px;
              right: 20px;
              bottom: 20px;
              transform: translateY(0);

              & p {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  & .top-games {
    flex: 0 0 23%;
    background-color: #27273d;
    padding-top: 37px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 2px;
    z-index: 10;
  }
}

.article {
  font-family: $Roboto;
  font-size: $text-size;
  text-align: center;
  text-transform: capitalize;
  color: $text;

  & h2 {
    font-size: 36px;
    font-weight: $Regular;
    color: $title;
    margin-bottom: 22px;
  }
}

.info-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: $Roboto;
  font-size: $text-size;
  color: $text;

  & li {
    flex: 0 0 38%;
    display: flex;
    justify-content: space-between;

    &:nth-last-child(n + 3) {
      margin-bottom: 47px;
    }

    & .fa {
      display: inline-block;
      flex: 0 0 27%;
      background-repeat: no-repeat;
    }

    & .fa-rating {
      background-image: url("../img/rating.svg");
    }

    & .fa-reviews {
      background-image: url("../img/review.svg");
    }

    & .fa-support {
      background-image: url("../img/support.svg");
    }

    & .fa-bonuses {
      background-image: url("../img/coins-icon.svg");
    }

    & .article-list {
      & h4 {
        font-family: $Roboto;
        font-weight: $Medium;
        font-size: $h4;
        color: $title;
        margin-bottom: 12px;
      }

      & p {
        margin: 0;
      }
    }
  }
}

.article-info {
  display: flex;
  justify-content: space-between;

  & .article {
    flex: 0 0 60%;
    text-align: start;
  }

  & .article-icon {
    flex: 0 0 35%;

    & img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

.option-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: $Roboto;
  font-size: $text-size;
  color: $text;

  & li {
    flex: 0 0 32%;
    padding: 10px;
    border: 1px solid #e5e6e8;

    &:nth-last-child(n + 4) {
      margin-bottom: 20px;
    }

    & h4 {
      font-family: $Roboto;
      font-weight: $Medium;
      font-size: $h4;
      color: $title;
      margin-bottom: 8px;

      &::before {
        display: inline-block;
        content: "";
        width: 51px;
        height: 47px;
        background-repeat: no-repeat;
        vertical-align: middle;
        margin-right: 20px;
      }
    }

    .fa-cards::before {
      background-image: url("../img/cards.svg");
    }

    .fa-cherry::before {
      background-image: url("../img/cherry.svg");
    }

    .fa-bingo::before {
      background-image: url("../img/bingo.svg");
    }

    .fa-slots::before {
      background-image: url("../img/slot-machine.svg");
    }

    .fa-trophy::before {
      background-image: url("../img/trophy.svg");
    }

    .fa-piggy::before {
      background-image: url("../img/piggy-bank.svg");
    }
  }
}

.casino-slider {
  & h2 {
    font-family: $Roboto;
    font-size: 36px;
    font-weight: $Regular;
    color: $title;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 60px;
  }

  & .card {
    height: 302px;
  }
}

@media (max-width: 767px) {
  .main-header {
    margin-bottom: 26px;
  }

  .main-header_box {
    & .home-gallery {
      flex: 0 0 100%;
      padding: 37px 0 0 0;

      & .home-header_form {
        margin-bottom: 25px;

        & p {
          display: none;
        }
      }

      & .gallery-casino_box {
        & .gallery-casino_item {
          flex: 0 0 100%;

          & .gallery-casino_info {
            position: absolute;
            left: 15px;
            right: 15px;
            bottom: 15px;

            & h3 {
              font-weight: $Medium;
              font-size: 15px;
              margin-bottom: 8px;
            }

            & p {
              width: 100%;
              line-height: 21px;
              font-size: 15px;
            }

            & .btn-white {
              margin: 0;
              padding: 0;
              margin-top: 10px;
              padding: 5px;
            }
          }
        }

        & .gallery-casino_item2 {
          display: none;
        }
      }
    }

    & .top-games {
      flex: 0 0 100%;
      padding: 37px 10px 0px 10px;
      border: 0;
    }
  }

  .info-list {
    & li {
      flex: 0 0 48%;
      align-items: center;

      & .fa {
        flex: 0 0 35%;
        height: 55px;
        background-size: contain;
      }

      & .article-list {
        flex: 0 0 55%;

        & p {
          display: none;
        }
      }
    }
  }

  .article-info {
    & .article {
      flex: 0 0 100%;

      & h2 {
        text-align: center;
      }
    }

    & .article-icon {
      display: none;
    }
  }

  .option-list {
    & li {
      flex: 0 0 100%;
      margin-bottom: 20px;

      &:last-child(-n + 1) {
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .info-list li {
    flex: 0 0 45%;

    & .fa {
      flex: 0 0 33%;
    }
  }

  .main-header_box {
    & .home-gallery {
      flex: 0 0 60%;
    }

    & .top-games {
      flex: 0 0 40%;
    }
  }
}
