input[type="range"] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: linear-gradient(
    92.54deg,
    rgba(42, 207, 217, 0.33) 49.93%,
    rgba(129, 98, 255, 0.51) 76.74%
  );
  border-radius: 25px;
}

input[type="range"]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #7a5fe3;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: linear-gradient(
    92.54deg,
    rgba(42, 207, 217, 0.33) 49.93%,
    rgba(129, 98, 255, 0.51) 76.74%
  );
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: linear-gradient(
    92.54deg,
    rgba(42, 207, 217, 0.33) 49.93%,
    rgba(129, 98, 255, 0.51) 76.74%
  );
  border-radius: 25px;
}

input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 7px;
  background: #7a5fe3;
  cursor: pointer;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 15px 0;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: linear-gradient(
    92.54deg,
    rgba(42, 207, 217, 0.33) 49.93%,
    rgba(129, 98, 255, 0.51) 76.74%
  );
  border-radius: 50px;
}

input[type="range"]::-ms-fill-upper {
  background: linear-gradient(
    92.54deg,
    rgba(42, 207, 217, 0.33) 49.93%,
    rgba(129, 98, 255, 0.51) 76.74%
  );
  border-radius: 50px;
}

input[type="range"]::-ms-thumb {
  height: 15px;
  width: 15px;
  border-radius: 7px;
  background: #7a5fe3;
  cursor: pointer;
}

input[type="range"]:focus::-ms-fill-lower {
  background: linear-gradient(
    92.54deg,
    rgba(42, 207, 217, 0.33) 49.93%,
    rgba(129, 98, 255, 0.51) 76.74%
  );
}

input[type="range"]:focus::-ms-fill-upper {
  background: linear-gradient(
    92.54deg,
    rgba(42, 207, 217, 0.33) 49.93%,
    rgba(129, 98, 255, 0.51) 76.74%
  );
}
