.pagination {
  display: flex;
  justify-content: flex-end;

  & ul {
    display: flex;
    justify-content: center;

    & li {
      background-color: #e4e4e4;
      border: 1px solid #e5e6e8;
      background-repeat: no-repeat;
      background-position: center;

      & a {
        display: inline-block;
        padding: 25px;
      }
    }

    & .prev {
      margin-right: 19px;
      background-image: url("../img/icon-left.svg");
    }

    & .next {
      background-image: url("../img/icon-right.svg");
    }
  }
}
