.tabs {
  min-height: 450px;
  padding: 25px;
  border: 1px solid #e0e0e0;

  & .nav {
    padding-bottom: 25px;
    border-bottom: 1px solid #e0e0e0;

    & .nav-item {
      border-radius: 0;
      border-right: 1px solid #e0e0e0;

      &:last-child {
        border-right: 0;
      }

      & .nav-link {
        background-color: rgba(0, 0, 0, 0);
        font-family: $Roboto;
        font-weight: $Medium;
        font-size: 18px;
        text-transform: uppercase;
        color: rgb(176, 176, 176);

        &:hover {
          color: $color-hover;
        }
      }

      & .active {
        color: #4f4f61;
      }
    }
  }
}

.tab-content {
  margin-top: 35px;

  & #pills-general,
  #pills-other {
    font-family: $Roboto;
    font-weight: $Regular;
    font-size: $text-size;
    color: $title;

    & ul {
      columns: 2;

      & li {
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 0;
        }

        & p span {
          color: $text;
          margin-left: 5px;
        }
      }
    }
  }

  & #pills-description {
    font-family: $Roboto;
    font-weight: $Regular;
    font-size: $text-size;

    & h4 {
      font-family: $Roboto;
      font-weight: $Medium;
      font-size: $h4;
      color: $title;
      margin-bottom: 15px;
    }
  }
}

.input-list {
  height: 300px;
  columns: 2;
  column-gap: 15%;

  & li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    position: relative;

    & label {
      flex: 0 0 40%;
    }

    & input {
      flex: 0 0 40%;
    }

    & .total-num {
      flex: 0 0 27px;
      display: block;
      height: 27px;
      border-radius: 50%;
      background: rgba(42, 91, 217, 0.24);
      line-height: 27px;
      text-align: center;
      font-family: $Roboto;
      font-weight: $Medium;
      color: $title;
    }

    & .max-num {
      font-family: $Roboto;
      font-weight: 500;
      font-size: 10px;
      color: rgba(110, 114, 122, 0.33);
      position: absolute;
      top: -7px;
      left: 84%;
    }
  }
}
