* {
  transition: 0.5s;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.read-more-link,
.show-less-link {
  text-decoration: none;
  color: #587be1;

  &:hover {
    text-decoration: none;
  }
}
