.btn {
  border: 0;
  background: rgba(0, 0, 0, 0);
  border-radius: 0;
  display: inline-block;
  padding: 10px 15px;
  font-family: $Roboto;
  font-weight: $Bold;
  font-size: 15px;
  text-transform: uppercase;
}

.btn-orange {
  border: $orange solid 2px;
  color: $orange;

  &:hover {
    background-color: $orange;
    color: #fff;
  }
}

.btn-violet {
  border: $violet solid 2px;
  color: $violet;
  min-width: 120px;

  &:hover {
    background-color: $violet;
    color: #fff;
  }
}

.btn-white {
  border: $white solid 2px;
  color: $white;
  min-width: 120px;

  &:hover {
    background-color: $white;
    color: $title;
  }
}
