.header {
  background-color: #27273d;
  border-bottom: #4b4b72 solid 1px;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .nav {
    font-family: $Roboto;
    font-weight: $Medium;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;

    & ul {
      display: flex;

      & li a {
        display: inline-block;
        height: 100%;
        padding: 30px 30px;
        color: #cdcdcd;
        text-decoration: none;

        & svg {
          display: none;
          width: 34px;
          height: 34px;
          fill: #5d698d;

          &:hover {
            fill: rgba(129, 98, 255, 0.5);
          }
        }

        &:hover {
          color: #fff;
        }
      }

      & .active {
        & a {
          background-color: #3a4460;
          color: #fff;

          & svg {
            fill: rgba(129, 98, 255, 0.5);
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .header {
    border-bottom: 0;

    & .nav ul li a {
      padding: 30px 15px;

      & span {
        display: none;
      }

      & svg {
        display: block;
      }
    }

    & .nav ul .active {
      & a {
        background-color: rgba(0, 0, 0, 0);
      }
    }
  }
}
